/*
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557
*/

body {
    margin: 0px;
    text-align: center;
    border: 5px solid white;
    font-family: 'Spinnaker', sans-serif;
}

#hero{
    background-image: url("images/mendoza.jpeg");
    background-size: cover;
    color: #F1FAEE;
    padding: 100px 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

#visit-hometown{
    background: #457B9D;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

#enjoy-hometown{
    background: #1D3557;
    padding: 5px 10px;
    border-radius: 5px; 
    margin: 0;
    width: 500px;
}

#activities-section{
    background: #F1FAEE;
    color: #1D3557;
    margin: 0;
}

#activities-title{
    margin: 0;
    padding: 40px 0;
}

#activities-row{
    display: flex;
    justify-content: space-evenly;
}

.activities {
    width: 180px;
}

.activities-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#card{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 380px;
    margin: 40px  auto;
    padding: 15px;
    background: #A8DADC;
    color: #1D3557;
    border-bottom: 6px solid #457B9D;
    border-radius: 6px;
}

#card-img{
    width: 150px;
}

#card-description{
    font-style: italic;
    padding: 0 15px;
}

/* Temporary utility class */
.blue-border{
    border: 1px dotted blue;
}